@media(max-width: 1441px){
    body{
     padding: 0 40px;
    }
}

@media screen and (max-width: 376px) {
   
    .container {
      width: 105%;
    }       
   
    p {
      font-size: 20px;
    }
        
    .divider img {
      width: 80%;
    }
       
    .button {
      width: 40px;
      height: 40px;
    }
    .button img {
      width: 35%;
    }
       
    .attribution {
      font-size: 10px;
    }
  }
  

